<div class="content" role="main">

  <h1>customer-review-smiley works!</h1>
  <h2>How was your experience ?</h2>
  <h3>We'd love it if you'd let us know!</h3>
  <p>Select one of the smiley below:</p>

  <div class="row">
    <div id="small-img" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center">
      <ul>
        <li>
          <a  (click)="onVote()">
            <img src="../../assets/images/smiley-red.png" class="circle-link" alt="red unhappy smiley" />
          </a>
        </li>
        <li>
          <a  (click)="onVote()">
            <img src="../../assets/images/smiley-orange.png" class="img-responsive inline-block" alt="orange unsatisfied smiley" />
          </a>
        </li>
        <li>
          <a (click)="onVote()">
            <img src="../../assets/images/smiley-yellow.png" class="img-responsive inline-block" alt="yellow neutral smiley" />
          </a>
        </li>
        <li>
          <a  (click)="onVote()">
            <img src="../../assets/images/smiley-lightGreen.png" class="img-responsive inline-block" alt="light green glad smiley" />
          </a>
        </li>
        <li>
          <a (click)="onVote()">
            <img src="../../assets/images/smiley-green.png" class="circle-link" alt="green happy smiley" />
          </a>
        </li>
      </ul>
    </div>
  </div>
  
</div>